<script>
  $(document).ready(function() {
    var lat = <%= @user.latitude %>;
    var lng = <%= @user.longitude %>;
    showMap(lat, lng);
  });
</script>

<BR><BR>
<div id="mapcontainer"> 

<h1>User Info</h1> <%#= link_to 'Edit my account or password', edit_user_path(@user) %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Zipcode:</b>
  <%= @user.zipcode %> <div id="lat"><%= @user.latitude %></div>
  <div id="long"><%= @user.longitude %></div>
</p>

<h2>My Saved Courses</h2>

<% if @favorites.empty? == false %>
  <table>
    <tr>
      <th>Course Name</th>
    </tr>

  <% @favorites.each do |list| %>
    <tr>
      <td><%= link_to list.course.title, course_path(list.course.id) %></td>
    </tr>
  <% end %>

  </table>
  <% else %> 
You have no saved courses at this time. 
<% end %> 




 <h2>My Offered Courses</h2>

<% if @courses.empty? == false %>
  <table>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Online?</th>
      <th>In Person?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @courses.each do |list| %>
    <tr>
      <td><%= list.category %></td>
      <td><%= list.title %></td>
      <td><%= list.online %></td>
      <td><%= list.in_person %></td>
      <td><%= link_to 'Show', course_path(list.id) %> </td>
      <td><%= link_to 'Edit', edit_user_mentoring_path(@user, list.id) %></td>
    </tr>
  <% end %>

  </table>

<% else %> 
You have no courses at this time. 
<% end %> 
<h3><%= link_to 'Create a New Course', new_user_mentoring_path(@user) %></h3>

<div id="map-canvas"></div>
</div>
