<script>
  $(document).ready(function() {
    var lat = <%= @user.latitude %>;
    var lng = <%= @user.longitude %>;
    showMap(lat, lng);
  });
</script>

<BR><BR>
<div id="mapcontainer"> 
<div id="userleft">

<h1><%= @user.name%>'s Profile</h1> (<%= link_to "edit", edit_user_registration_path %>)

<p>
  <b>Registered Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>About Me:</b>
  <% if @user.bio == nil %>
  <%= link_to "Fill out your bio to show up for Mentors!", edit_user_registration_path %>
  <% else %> 
  <%= @user.bio %>
  <% end %>
</p>

<p>
  <b>I'm good at:</b>
  <% if @user.skills == nil %>
  <%= link_to "Fill out your skills to show up for Mentors!", edit_user_registration_path %>
  <% else %> 
  <%= @user.skills %>
  <% end %>
</p>



<center>
<% if user_signed_in? && current_user != @user %> <b>
  <%= link_to "Send this user a message", new_user_message_path(user_id: current_user, instructor_id: @user.id) %>
  <% elsif user_signed_in? && current_user = @user %> 
  <% else %> 
  <%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to send a message </b>
  <% end %>
</center>

<h2><%= @user.name%>'s Saved Courses</h2>

<% if @favorites.empty? == false %>
  <table>
    <tr>
      <th>Course Name</th>
    </tr>

  <% @favorites.each do |list| %>
    <tr>
      <td><%= link_to list.course.title, course_path(list.course.id) %></td>
    </tr>
  <% end %>

  </table>
  <% else %> 
No saved courses at this time. 
<% end %> 




 <h2><%= @user.name%>'s Offered Courses</h2>

<% if @courses.empty? == false %>
  <table class="gradienttable">
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>

  <% @courses.each do |list| %>
    <tr>
      <td><%= list.category %></td>
      <td><%= list.title %></td>
      <td><%= link_to 'Show', course_path(list.id) %> </td>
      <td><%= link_to 'Edit', edit_user_mentoring_path(@user, list.id) %></td>
    </tr>
  <% end %>

  </table>

<% else %> 
No offered courses at this time. 
<% end %> 
<h3><%= link_to 'Create a New Course and become a Mentor', new_user_mentoring_path(@user) %></h3><BR><BR>
</div>
<div id="userright"> <center><i><%= @user.name%> is located near:</i></center>
<div id="map-canvas"></div>
</div>
</div>
