<script>
$(document).ready(function() {


    $(function() {
    initMap();
    users = <%=raw(User.all.to_json) %>

    <% User.all.each do |user| %>
    <% if (user.latitude || user.longitude) != nil %> 
      addMarker(<%=user.latitude%>, <%=user.longitude%>);
      <% end %>
    <% end %>

  });
});
</script>
<div id="map-canvas">

</div>
<BR><BR>

<div id="iconcontainer">
<div class="icon">
<%= image_tag("art.png") %>
<BR />Art
</div>
<div class="icon">
<%= image_tag("food.png") %>
<BR />Food
</div>
<div class="icon">
<%= link_to image_tag("music.png"), music_path %>
<BR />Music
</div>
<div class="icon">
<%= image_tag("sports.png") %>
<BR />Sports
</div>
<div class="icon">
<%= image_tag("tech.png") %>
<BR />Tech
</div>
<div class="icon">
<%= image_tag("diy.png") %>
<BR />DIY
</div>
</div>

<BR>


