<BR />
<div id="mapcontainer"> 

 <h2>Offered Mentoring Courses</h2>

  <table>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Online?</th>
      <th>In Person?</th>
      <th>Instructor</th>
      <th></th>
      <th></th>
    </tr>

  <% @courses.each do |list| %>
    <tr>
      <td><%= list.category %></td>
      <td><%= link_to 'Course', course_path(list.id) %><%= list.title %></td>
      <td><%= list.online %></td>
      <td><%= list.in_person %></td>
      <td><%= list.user_id %></td>

    </tr>
  <% end %>

  </table>

<div id="onecolumn"> 
  <div class="icondisplay">
  <%= image_tag("diy.png") %>
  <BR />DIY
  </div>
  <div id="insidetext">
    <% @diy.each do |display| %>
    <%= display.title %><BR />
    <% end %> 
  </div>

</div>
  
</div>