<BR />
<div id="mapcontainer"> 
 <h2>Offered Mentoring Courses</h2>

<div class="search-box">
      <%= form_tag search_path do %> 
      <%= text_field_tag :term, nil, :id => "search_box" %>
      <%= submit_tag "search", :id => "submitbutton" %>
      <% end %> 
    </div>


<table class="gradienttable">
  <tr>
    <th>Category</th>
    <th>Course</th>
    <th>Location</th>
    <th>Taught by</th>
    <th>Online Lessons</th>
    <th>In-person Lessons</th>
    <th>Description</th>
  </tr>

 <% @courses.each do |list| %>
    <tr>
      <td><center>
        <% if list.category == "Music"%>
          <%= image_tag("music.png", width: '20') %>
          <% elsif list.category == "DIY"%>
          <%= image_tag("diy.png", width: '20') %>
          <% elsif list.category == "Art"%>
          <%= image_tag("art.png", width: '20') %>
          <% elsif list.category == "Food"%>
          <%= image_tag("food.png", width: '20') %>
          <% elsif list.category == "Tech"%>
          <%= image_tag("tech.png", width: '20') %>
          <% elsif list.category == "Sports"%>
          <%= image_tag("sports.png", width: '20') %>
          <% end %></center></td>
      <td><%= link_to list.title, course_path(list.id) %></td>
      <td><%= list.user.zipcode %></td>
      <td><%= list.user.name %></td>
      <td><% if list.online? %>Yes<% else %>No<% end %></td>
      <td><% if list.in_person? %>Yes<% else %>No<% end %></td>
      <td><%= truncate(list.desc, length: 120) %></td>
    </tr>
  <% end %>

  </table>

  <BR><BR>
</div>
