
<% if @course.user.latitude != nil %>
<script>
  $(document).ready(function() {
    var lat = <%= @user.latitude %>;
    var lng = <%= @user.longitude %>;
    showMap(lat, lng);
  });
</script>
<% end %>

<BR />
<div id="mapcontainer"> 

<div id="parent">
<h1><%= @course.title %></h1>

<div id="fave">
<%= link_to ".", favorites_path(id: @course.id) %>
</div>
<i>Taught by <%= @course.user.name %></i>

| <%= link_to "Send this mentor a message", new_user_message_path(user_id: current_user, instructor_id: @user.id) %>

</div>
<%= @desc %>. 



</div>
<div id="map-canvas"></div>
</div>