<!DOCTYPE html>
<html>
<head>
  <title>MentorConnect</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type = "text/javascript" src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyAoHOlOfMj0OZwKxPVRrfmqVuqnesDIRaU&sensor=true">
</script>

</head>
<body>
  <div id="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="menubar">
      <%= link_to "Mentors", mentors_path %> * <%= link_to "Learners", learners_path %>  * <%= link_to "Home", root_path %> 
      <BR>
      <% if user_signed_in? %> 
      Signed in as <%= link_to current_user.email, current_user %>
      <%= link_to image_tag("mail2.png", :id => "mailicon"), user_messages_path(current_user.id) %>

      (<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>) 
      <% else %> 
      (<%= link_to "Sign up", new_user_registration_path %> or  <%= link_to "Log in", new_user_session_path %>)
      <% end %> 
    </div>

    <%= yield %>

  </div>
</body>
</html>
